body {
    color: #fff;
    background-color: #000;
}

a {
    color: #fff;
}
a:visited {
    color: #fff;
}
a:hover {
    text-decoration: underline;
    text-decoration-color: #fff;
}

.container {
    width: 920px;
    margin: 0 auto;
}